{% extends 'base.html.twig' %}

{% block main %}

    <form action="{{ path('admin_insert_article') }}" method="get">

        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="title">Contenu</label>
        <input type="text" name="content">

        <input type="submit">

    </form>
{% endblock %}

