{% extends 'admin/base.html.twig' %}

{% block main %}

    {% for category in categories %}
        <article>
            <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
            <a href="{{ path('admin_show_category', {'id': category.id}) }}">Rencontre les camioneurs murs et chauds de ton lieu dit</a>
            <a href="{{ path('admin_delete_category', {'id': category.id}) }}">Supprimer la categorie</a>
        </article>
    {% endfor %}

{% endblock %}

