{% extends 'base.html.twig' %}


{% block main %}

<section>
    <a href="{{ path('admin_insert_article') }}">Ajouter un article</a>
</section>

<section class="articles">

    {% for article in articles %}

        {% if article.isPublished %}
            <article class="article">
                <h1>{{ article.title }}</h1>
                <a href="{{ path('admin_article', {'id': article.id }) }}">Voir cet article</a>
                <a href="{{ path('admin_delete_article', {'id': article.id }) }}">Supprimer cet article</a>
            </article>
        {% endif %}

    {% endfor %}
</section>

{% endblock %}
