{% extends 'admin/base.html.twig' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}

    {% if article %}
        {% if article.isPublished %}

            <article class="article-single">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <p>Publié le {{ article.publishedAt | date('d-m-y') }}</p>
            </article>

        {% endif %}

    {% else %}
        <p>L'article n'existe pas</p>
    {% endif %}



{% endblock %}
