{% extends 'base.html.twig' %}

{% block main %}

<section class="articles">

    {% for article in articles %}

        {% if article.isPublished %}
            <article class="article">
                <h1>{{ article.title }}</h1>
                <a href="{{ path('article', {'id': article.id }) }}">Clique j't'ai dit</a>
            </article>
        {% endif %}

    {% endfor %}
</section>

{% endblock %}
